.card{
    width: 175px;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    position: relative;
}

.card--badge{
    position: absolute;
    top: 6px;
    left: 6px;
    background-color: white;
    padding: 5px 7px;
    border-radius: 7px;
    font-weight: bold;
    font-size: 10px;
}

#card--image{
    width: 176px;
    border-radius: 10px;
}

.card--rating{
    display: flex;
    align-items: center;
}

.card p{
    font-size: 12px;
    font-weight: 300;
    margin: 0;
}

.card .gray{
    color: #918E9B;
}

#card--star{
    width: 14px;
    height: 14px;
}

span{
    font-size: 0.8rem;
}
.gray{
    margin-left: 2px;
}